layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb693"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb693"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb693"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb69380"
    }
}

recent-windows {
    highlight {
        active-color   "#7a3001"
        urgent-color   "#ffb4ab"
    }
}