layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb875"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb875"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb875"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb87580"
    }
}

/-recent-windows {
    highlight {
        active-color   "#6b3b00"
        urgent-color   "#ffb4ab"
    }
}